@use '../abstracts/variables' as *;
@use '../components/media' as *;

.form-group {
    position: relative;
    margin-bottom: var(--Gap-1x);

    &--phone,
    &--email {
        display: none;

        &.is-active {
            display: block;
        }
    }
}

.form-control {
    font-family: var(--fontInter), sans-serif;
    color: var(--ColorsBlack);
    border: 0;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -5px;
    width: 100%;
    height: 115px;
    margin: 0;

    &:disabled {
        pointer-events: none;
        opacity: .4;
    }

    &::placeholder {
        color: var(--ColorsGray3);
    }

    &:focus-visible {
        border: none;
        outline: none;
    }

    &:not(.form-check__input):not(select) {
        display: block;
        width: 100%;
        outline: none;
        box-shadow: none !important;
        background-clip: padding-box;
        transition: var(--transition-base);

        &:focus {
            //border-color: ;
        }
    }

    &.is-invalid {
        //border-color:
    }

    &:not(.is-invalid):hover {
        //border-color: ;
    }

    &:active, &:focus {
        //border-color: ;
    }

    @include media(xl) {
        font-size: 76px;
        height: 95px;
    }

    @include media(lg) {
        font-size: 56px;
        height: 80px;
        letter-spacing: -3px;
    }

    @include media(md) {
        font-size: 32px;
        letter-spacing: -2px;
        height: 48px;
    }
}

.form-check {
    font-family: $font-inter;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    line-height: 1.3;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    color: var(--ColorsBlack2);
    font-size: 16px;

    &__icon {
        flex-shrink: 0;
        position: relative;
        width: 28px;
        height: 28px;
        border-radius: 6px;
        box-shadow: inset 0 0 0 1px var(--ColorsGray9);
        transition: all 0.2s ease;

        &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 13px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='18'%20height='14'%20viewBox='0%200%2018%2014'%20fill='none'%3E%3Cpath%20d='M6.29411%2013.6408L-0.00146484%207.34525L1.57243%205.77136L6.29411%2010.493L16.4278%200.359375L18.0017%201.93327L6.29411%2013.6408Z'%20fill='black'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            opacity: 0;
            transition: all 0.2s ease;
        }
    }

    &__text {
        flex: 1;
        min-width: 0;
        padding-top: 2px;
    }

    &--agree {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--ColorsBlack);
    }

    &__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .form-check__icon {
            background: var(--ColorsGray10);
            box-shadow: inset 2px 0 0 var(--ColorsGray4), inset 0 2px 0 var(--ColorsGray4);

            &:after {
                opacity: 1;
            }
        }

        &:disabled ~ * {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    &__link {
        font-weight: 500;
        color: var(--ColorsBlack);

        &:hover {
            color: var(--ColorsPrimary);
            text-decoration: underline;
        }
    }

    &--inline {
        display: inline-block;
        margin-right: 8px;
    }

    @include media(xl) {
        font-size: 14px;
    }
}

.form-textarea {
    height: 120px;
    resize: none;
}

.form-error {
    position: absolute;
    bottom: 0;
    left: 0;
    //color: ;
    line-height: 18px;

    margin-bottom: -16px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__btn {
        flex-shrink: 0;
    }
}

.form-label {
    color: var(--ColorsBlack);
    font-family: $font-inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: var(--Gap-1x);

    @include media(xl) {
        font-size: 20px;
    }

    @include media(md) {
        font-size: 16px;
    }
}

.form-select {
    appearance: none;
    background-color: #ffffff;
    background-image: url('../../images/icons/arrow-down.svg');
    background-position: right .75rem center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    color: var(--ColorsBlack);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    display: block;
    height: 52px;
    overflow: hidden;
    padding: 14px 16px;
    text-overflow: ellipsis;
    transition: border-color .3s ease-in-out;
    white-space: nowrap;
    width: 100%;

    &:focus,
    &:focus-visible {
        box-shadow: none;
        border: 1px solid #E0E0E0;
        outline: none;
    }

    & + label {
        display: none;
    }

    &--product {
        font-size: 24px;
        color: #1C1C1ECC;
        height: 78px;
        border-radius: 12px;
        border: 1px solid rgba(73, 69, 79, 0.20);
        padding: 12px 60px 12px 16px;
        background-position: right 32px center;
        background-image: url('../../images/icons/arrow-down-2.svg');
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @include media(xl) {
        font-size: 16px;
        height: 48px;

        &--product {
            font-size: 18px;
            height: 60px;
        }
    }

    @include media(lg) {
        padding: 10px 12px;
        height: 40px;
        font-size: 14px;

        &--product {
            background-size: 20px 20px;
            font-size: 16px;
            height: 48px;
            background-position: right 24px center;
        }
    }

    @include media(md) {
        &--product {
            background-size: 16px 16px;
            font-size: 16px;
            height: 40px;
            background-position: right 24px center;
            padding-right: 40px;
        }
    }
}

.form-modal {
    position: relative;
    padding: 32px 44px 40px 44px;
    width: 960px;

    &__title {
        display: flex;
        gap: var(--Gap-2x);
        margin-bottom: var(--Gap-4x);

        &-item {
            color: var(--ColorsBlue2);
            font-family: $font-inter;
            font-size: 48px;
            font-weight: 700;
            line-height: 120%;
            border-bottom: 1px dashed var(--ColorsBlue2);
            cursor: pointer;

            &:has(input:checked){
                border-bottom: 1px dashed transparent;
                color: var(--ColorsBlack);
            }

            input {
               display: none !important;
            }
        }
    }

    &__type {
        display: flex;
        gap: var(--Gap-3x);
        margin-bottom: var(--Gap-3x);

        &-item {
            color: var(--ColorsBlue2);
            font-family: $font-inter;
            font-size: 28px;
            font-weight: 500;
            line-height: 120%;
            border-bottom: 1px dashed var(--ColorsBlue2);
            cursor: pointer;

            &:has(input:checked){
                border-bottom: 1px dashed transparent;
                color: var(--ColorsBlack);
            }

            input {
                display: none !important;
            }
        }
    }

    .form-group {
        margin-bottom: var(--Gap-4x);
    }

    &__footer {
        display: flex;
        flex-direction: column;
        gap: var(--Gap-3x);
        align-items: flex-start;
    }

    @include media(xl) {
        padding: 30px;
        width: 650px;

        &__title-item {
            font-size: 30px;
        }

        &__type-item {
            font-size: 24px;
        }
    }

    @include media(lg) {
        padding: 24px;
        width: 600px;

        &__title-item {
            font-size: 26px;
        }

        &__type-item {
            font-size: 20px;
        }
    }

    @include media(md) {
        padding: 16px;
        width: auto;
        max-width: 100%;

        &__title-item {
            font-size: 20px;
        }

        &__type-item {
            font-size: 16px;
        }

        &__footer {
            .btn {
                width: 100%;
            }
        }
    }
}

body {
    .f-html {
        background: var(--ColorsWhite);
        box-shadow: 0 4px 24.5px 0 rgba(0, 0, 0, 0.12);
        border-radius: 40px;
        padding: 0;
    }

    .f-button.is-close-button {
        right: 24px;
        top: 24px;
        width: 40px;
        height: 40px;

        &:hover svg {
            fill: var(--ColorsBlack);
        }
    }

    .f-button svg {
        fill: #E4E4E4;
        width: 40px;
        height: 40px;
        stroke-width: 0;
        transition: var(--transition-base);
    }

    @include media(xl) {
        .f-html {
            border-radius: 36px;
        }
    }

    @include media(lg) {
        .f-html {
            border-radius: 20px;
        }

        .f-button.is-close-button {
            right: 20px;
            top: 20px;
            width: 36px;
            height: 36px;
        }

        .f-button svg {
            width: 36px;
            height: 36px;
        }
    }

    @include media(md) {
        .f-html {
            border-radius: 16px;
        }

        .f-button.is-close-button {
            right: 16px;
            top: 16px;
            width: 32px;
            height: 32px;
        }

        .f-button svg {
            width: 32px;
            height: 32px;
        }
    }
}


