.header {
    padding-top: 21px;
    padding-bottom: 23px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__right {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__link {
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.2px;
    }
}