.header {
    padding-top: 21px;
    padding-bottom: 23px;
    position: sticky;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(12px);
    top: 0;
    z-index: 100;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__right {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__phone {
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.2px;
    }

    &__mail {
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}