@use '../abstracts/variables' as *;
@use '../components/media' as *;

.header {
    padding-top: 21px;
    padding-bottom: 23px;
    position: sticky;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(12px);
    top: 0;
    z-index: 100;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__toggle-menu {
        display: flex;
        align-items: center;
        //gap: 16px;

        .svg-icon {
            opacity: 0;
            visibility: hidden;
            width: 0;
            transition: opacity 0.3s ease, width 0.3s ease, margin-left 0.3s ease;
        }

        &.is-active {
            .svg-icon {
                opacity: 1;
                visibility: visible;
                width: 24px;
                margin-left: 16px;
            }

        }
    }

    &__right {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__phone {
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.2px;
    }

    &__mail {
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__btn-search {
        cursor: pointer;

        .svg-search {
            transition: var(--transition-base);
        }

        &:hover {
            .svg-search {
                background-color: var(--ColorsBlack);
            }
        }
    }
    @include media(xl) {
        &__phone,
        &__mail {
            font-size: 18px;
        }
    }
}

.mega-menu {
    background-color: #ffffff;
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    height: 100vh;
    opacity: 0;
    visibility: hidden;

    &.is-active {
        opacity: 1;
        visibility: visible;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__left {
        margin-top: 72px;
    }
    &__row {
        display: flex;
        gap: 32px;
        margin-top: 40px;
    }
    &__title {
        color: var(--ColorsBlack);
        font-family: $font-interDisplay;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
    @include media(xl) {
        &__title {
            font-size: 36px;
        }
    }
}

.navbar {
    width: 348px;

    &__item {
        position: relative;
        color: var(--ColorsBlack);
        font-family: $font-interDisplay;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        display: flex;
        align-items: center;
        gap: var(--Gap-2x);
        padding: 4px 12px 4px 4px;
        margin-bottom: 4px;
        border-radius: 12px;
        transition: var(--transition-base);

        img {
            border-radius: 12px;
        }
        &.is-active,
        &:hover {
            background-color: var(--ColorsGray8);
        }
        &:before {
            position: absolute;
            right: 12px;
            content: '';
            display: inline-block;
            background: url('../../images/icons/arrow-navbar.svg') no-repeat;
            width: 23px;
            height: 24px;
        }
    }
}

.navbar-sub {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        display: inline-block;
        color: var(--ColorsBlack);
        font-family: $font-interDisplay;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 21.6px */
        min-height: 44px;
        padding: 2px;
    }
}

.no-scroll {
    overflow: hidden;
    overscroll-behavior-y: none;
}

.top-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 96px;
    background: var(--ColorsGray8);
    padding: 21px 0 23px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9999;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    &__close {
        cursor: pointer;
    }
}

.form-search {
    flex: 1;

    .form-group {
        flex: 1;
        margin-bottom: 0;
    }

    &__btn {
        width: 132px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &.is-focused {
            opacity: 1;
            visibility: visible;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 40px;
    }

    &__input {
        background: transparent;
        color: var(--ColorsBlack);
        border: 0;
        font-family: var(--fontInter), sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        width: 100%;

        &::placeholder {
            color: #D3D3D3;
        }
        &:focus-visible {
            border: none;
            outline: none;
        }
    }
}