@use '../abstracts/variables' as *;
@use '../components/media' as *;

.header {
    padding-top: 21px;
    padding-bottom: 23px;
    position: sticky;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(12px);
    top: 0;
    z-index: 100;

    &__logo {
        img {
            display: block;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__toggle-menu {
        font-family: $font-interDisplay;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        //gap: 16px;

        .svg-icon {
            opacity: 0;
            visibility: hidden;
            width: 0;
            transition: opacity 0.3s ease, width 0.3s ease, margin-left 0.3s ease;
        }

        &.is-active {
            .svg-icon {
                opacity: 1;
                visibility: visible;
                width: 24px;
                margin-left: 16px;
            }

        }
    }

    &__right {
        display: flex;
        gap: var(--Gap-4x);
        align-items: center;
    }

    &__contacts {
        display: flex;
        gap: var(--Gap-4x);
        align-items: center;
    }

    &__phone {
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.2px;
    }

    &__mail {
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__btn-search {
        cursor: pointer;

        .svg-search {
            transition: var(--transition-base);
        }

        &:hover {
            .svg-search {
                background-color: var(--ColorsBlack);
            }
        }
    }

    @include media(xl) {
        &__toggle-menu {
            font-size: 16px;
            padding: 12px 24px;

            &.is-active {
                .svg-icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__phone,
        &__mail {
            font-size: 16px;
        }
    }

    @include media(lg) {
        &__left {
            gap: 24px;
        }

        &__logo {
            img {
                max-width: 120px;
            }
        }

        &__contacts {
            flex-direction: column;
            gap: 0;
            align-items: flex-start;
        }
    }

    @include media(md) {
        padding: 12px 0;

        &__row {
            gap: 8px;
            flex-direction: column;
        }

        &__contacts {
            flex-direction: row;
            gap: 16px;
        }

        &__callback {
            display: none;
        }

        &__left {
            justify-content: space-between;
            width: 100%;
            gap: 16px;
        }

        &__right {
            width: 100%;
        }

        &__phone,
        &__mail {
            font-size: 14px;
        }

        &__toggle-menu {
            padding: 8px 20px;
            font-size: 14px;
        }

        &__toggle-menu {

            &.is-active {
                .svg-icon {
                    width: 16px;
                    height: 16px;
                    margin-left: 8px;
                }
            }
        }

        &__btn-search {
            display: none;
        }
    }
}

.mega-menu {
    background-color: var(--ColorsWhite);
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    height: 100vh;
    opacity: 0;
    visibility: hidden;

    &__item {
        position: absolute;
        left: calc(100% + 32px);
        top: -72px;
        min-width: 600px;
        z-index: 100;
        display: none;
    }

    &.is-active {
        opacity: 1;
        visibility: visible;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__row {
        display: flex;
        gap: 32px;
        margin-top: 110px;
    }

    &__title {
        color: var(--ColorsBlack);
        font-family: $font-interDisplay;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 24px;
    }

    @include media(xl) {
        top: 88px;

        &__title {
            font-size: 32px;
        }

        &__row {
            margin-top: 64px;
        }

        &__item {
            top: -32px;
        }
    }

    @include media(lg) {
        top: 84px;

        &__title {
            font-size: 24px;
            margin-bottom: 16px;
        }

        &__row {
            margin-top: 32px;
            gap: 24px;
        }

        &__item {
            left: calc(100% + 24px);
            top: -20px;
        }
    }

    @include media(md) {
        &__row {
            margin-top: 0;
        }

        &__item {
            position: relative;
            left: 12px;
            top: auto;
            margin-top: 16px;
            margin-bottom: 8px;
        }

        &__title {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
}

.mm-navbar {
    position: relative;
    width: 348px;

    &__item {

        &.is-active,
        &:hover {
            .mm-navbar__link {
                background-color: var(--ColorsGray8);
            }
            .mega-menu__item {
                display: block;
            }
        }
    }

    &__link {
        position: relative;
        color: var(--ColorsBlack);
        font-family: $font-interDisplay;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        display: flex;
        align-items: center;
        gap: var(--Gap-2x);
        padding: 4px 12px 4px 4px;
        margin-bottom: 4px;
        border-radius: 12px;
        transition: var(--transition-base);

        img {
            border-radius: 12px;
        }

        &:before {
            position: absolute;
            right: 12px;
            content: '';
            display: inline-block;
            background: url('../../images/icons/arrow-navbar.svg') no-repeat;
            width: 23px;
            height: 24px;
        }
    }

    @include media(xl) {
        &__link {
            font-size: 18px;
        }

        img {
            max-width: 40px;
        }
    }

    @include media(lg) {
        width: 260px;

        &__link {
            font-size: 16px;
        }
    }

    @include media(md) {
        width: 100%;
    }
}

.mm-navbar-sub {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        display: inline-block;
        color: var(--ColorsBlack);
        font-family: $font-interDisplay;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        padding: 11px 0;
    }

    @include media(xl) {
        &__item {
            font-size: 16px;
            padding: 8px 0;
        }
    }

    @include media(lg) {
        gap: 0;

        &__item {
            font-size: 14px;
        }
    }

    @include media(md) {

    }
}

.no-scroll {
    overflow: hidden;
    overscroll-behavior-y: none;
}

.top-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 96px;
    background: var(--ColorsGray8);
    padding: 21px 0 23px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9999;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--Gap-4x);
    }
    &__close {
        cursor: pointer;
    }

    @include media(xl) {
        height: 80px;
        padding: 18px 0 16px 0;
    }
}

.form-search {
    flex: 1;

    .form-group {
        flex: 1;
        margin-bottom: 0;
    }

    &__btn {
        width: 132px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &.is-focused {
            opacity: 1;
            visibility: visible;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        width: 100%;
        gap: var(--Gap-4x);
    }

    &__input {
        background: transparent;
        color: var(--ColorsBlack);
        border: 0;
        font-family: var(--fontInter), sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        width: 100%;

        &::placeholder {
            color: #D3D3D3;
        }
        &:focus-visible {
            border: none;
            outline: none;
        }
    }

    @include media(xl) {
        &__input {
            font-size: 26px;
        }
    }
}