@use '../abstracts/variables' as *;
@use '../components/media' as *;

html, body {
    scrollbar-width: thin;
    //overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
}

body {
    font-family: $font-inter;
    color: var(--ColorsBlack);
    font-weight: 400;
    line-height: 150%;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1404px;
    width: 100%;

    @include media(xl) {
        padding: 0 18px;
    }
    @include media(lg) {
        padding: 0 15px;
    }
    @include media(md) {
        padding: 0 12px;
    }
}

.main-inner {
    margin-top: var(--Gap-5x);
}

.svg-icon {
    display: inline-flex;
    mask-repeat: no-repeat;
}

.svg-search {
    height: 32px;
    width: 32px;
    mask-image: url('../../images/icons/search-icon.svg');
    background-color: #EDEDED;
}

.svg-close-search {
    height: 32px;
    width: 32px;
    mask-image: url('../../images/icons/close-search.svg');
    background-color: #242424;
}

.svg-close-menu {
    height: 24px;
    width: 24px;
    mask-image: url('../../images/icons/close-btn.svg');
    background-color: var(--ColorsBlack);
}

.svg-close-filter-param {
    height: 24px;
    width: 24px;
    mask-image: url('../../images/icons/close-filter-param.svg');
    background-color: var(--ColorsGray13);
}


.svg-right {
    height: 24px;
    width: 24px;
    mask-image: url('../../images/icons/arrow-right-24x.svg');
    background-color: var(--ColorsBlack);
}

.svg-arrow-btn-secondary {
    height: 24px;
    width: 24px;
    mask-image: url('../../images/icons/arrow-right-btn-secondary.svg');
    background-color: var(--ColorsBlack);
}

.btn {
    font-family: $font-inter;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    cursor: pointer;

    &-primary {
        color: var(--ColorsWhite);
        background-color: var(--ColorsBlue);
    }

    &-secondary {
        color: #ffffff;
        background: var(--ColorsBlack);
    }

    &-outline-secondary {
        color: var(--ColorsBlack);
        font-weight: 400;
        padding: 15px 24px;
        box-shadow: inset 0 0 0 2px var(--ColorsBlack);
    }

    &-outline-secondary2 {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 600;
        font-size: 20px;
        border-radius: 16px;
        color: var(--ColorsBlack);
        border: 2px solid rgba(228, 228, 228, 0.60);
        background: transparent;
        padding: 8px 24px 10px 24px;
    }

    &-outline-secondary3 {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 600;
        font-size: 20px;
        border-radius: 16px;
        color: #ffffff;
        background: transparent;
        padding: 8px 24px 10px 24px;
        box-shadow: inset 0 0 0 2px #ffffff;

        .svg-arrow-btn-secondary {
            background-color: #ffffff;
        }
    }

    &.btn-m {
        font-size: 20px;
    }

    &:disabled {
        border: 0;
        color: var(--ColorsGray2);
        background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #0074EC;
    }

    @include media(xl) {
        font-size: 16px;
        padding: 12px 32px;

        &-outline-secondary2 {
            padding: 16px 32px;
        }
    }

    @include media(lg) {
        padding: 10px 24px;
    }

    @include media(md) {
        padding: 6px 20px;
        font-size: 14px;
    }
}

.btn-more {
    cursor: pointer;
    display: flex;
    height: 72px;
    padding: 16px 16px 18px 20px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border: 2px solid rgba(228, 229, 231, 0.40);
    width: 100%;
    background: transparent;
    color: var(--ColorsGray11);
    text-align: center;
    font-family: $font-inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;

    @include media(xl) {
        padding: 14px 14px 16px 18px;
        height: 56px;
        font-size: 16px;
    }

    @include media(lg) {
        height: 48px;
        font-size: 14px;
    }

    @include media(md) {
        height: 42px;
    }
}

.breadcrumb {
    margin-bottom: 20px;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 5px 0 6px 0;
    }
    &__item {
        position: relative;
        color: var(--ColorsBlack);
        font-size: 15px;
        font-weight: 400;
        line-height: 120%;

        & + li:before {
            border-radius: 100px;
            content: "";
            display: inline-block;
            height: 10px;
            width: 6px;
            left: -13px;
            position: absolute;
            background: url('../../images/icons/arrow-right.svg') no-repeat;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: middle;
        }
    }
    &__link {
        color: var(--ColorsBlack)
    }
    &__text {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.badge {
    display: inline-flex;
    padding: 5px 10px 6px 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 18px */
    border-radius: 6px;

    &-gray {
        color: #10C44C;
        background: rgba(16, 196, 76, 0.10);
    }
}

.sect-main-slider {
    overflow-x: hidden;
}

.main-slider {
    margin-top: 46px;
    margin-bottom: 140px;

    &.swiper {
        width: 100%;
        overflow: visible;
    }

    &.swiper-horizontal {

        & > .swiper-pagination-bullets {
            bottom: -70px;

            .swiper-pagination-bullet {
                margin: 0 6px;
            }
        }
        .swiper-pagination-bullet {
            width: 22px;
            height: 22px;
            opacity: 1;
            background-color: var(--ColorsGray7);

            &.swiper-pagination-bullet-active {
                background-color: var(--ColorsBlue2);
            }
        }
    }

    &__inner {
        padding: 60px 45px 0 72px;
    }

    &__item {
        border-radius: 40px;

        &--is-white {
            border: 2px solid rgba(228, 228, 228, 0.60);

            .main-slider__title {
                position: relative;
                color: var(--ColorsBlack);
            }
        }

        &--is-text {

            .main-slider__inner {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &.swiper-slide {
            height: auto;
            //width: 20%;
            transition: transform 0.3s ease;

            &:not(.swiper-slide-active) {
                transform: scale(0.9);
            }
        }

        &.swiper-slide-active {
            width: 100%;
            transform: scale(1);
        }

    }

    &__title {
        color: white;
        font-size: 88px;
        font-style: normal;
        font-weight: 600;
        line-height: 90%;
        letter-spacing: -0.88px;
        margin-bottom: 45px;
    }

    &__text {
        color: var(--ColorsBlack);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        max-width: 60%;
    }

    &__img {
        border-radius: 40px;
    }

    &__btn {
        position: absolute;
        bottom: 40px;
        right: 45px;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    @include media(xl) {
        margin-bottom: 100px;

        &__title {
            font-size: 68px;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 24px;
        }

        &__inner {
            padding: 32px;
        }

        &__item {
            border-radius: 36px;

            &--is-text {
                img {
                    max-width: 100%;
                    object-fit: cover;
                }
            }
        }

        &.swiper-horizontal {

            & > .swiper-pagination-bullets {
                bottom: -50px;
            }
            .swiper-pagination-bullet {
                width: 16px;
                height: 16px;
            }
        }
    }

    @include media(lg) {
        margin-top: var(--Gap-5x);

        &__title {
            font-size: 48px;
        }

        &__item {
            border-radius: 24px;
        }

        &__text {
            font-size: 18px;
        }

        &__inner {
            padding: 24px;
        }
    }

    @include media(md) {
        &__item {
            border-radius: 16px;
        }

        &__title {
            font-size: 28px;
        }

        &__text {
            font-size: 14px;
        }

        &__inner {
            padding: 16px;
        }

        &.swiper-horizontal {

            & > .swiper-pagination-bullets {
                bottom: -30px;
            }
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.news-promo {
    padding-bottom: 87px;
    margin-bottom: 60px;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 36px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__link {
        color: var(--ColorsBlue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        display: flex;
        align-items: center;
        gap: 4px;

        .svg-right {
            background-color: var(--ColorsBlue);
        }
    }

    @include media(xl) {
        padding-bottom: 40px;
        margin-bottom: 32px;
    }

    @include media(lg) {
        padding-bottom: 32px;
        margin-bottom: 24px;

        &__head {
            margin-bottom: var(--Gap-4x);
        }
    }

    @include media(md) {
        padding-bottom: 16px;
        margin-bottom: 16px;

        &__link {
            font-size: 14px;
        }
    }
}

.main-news-slider,
.main-promo-slider {

    .swiper-slide {
        width: 352px;
        height: auto;
    }

    @include media(xl) {
        .swiper-slide {
            width: 320px;
        }
    }

    @include media(lg) {
        .swiper-slide {
            width: 280px;
        }
    }

    @include media(md) {
        .swiper-slide {
            width: 260px;
        }
    }
}

.news-promo-card {
    display: flex;
    flex-direction: column;
    gap: var(--Gap-2x);
    height: 100%;

    &__img {
        margin-bottom: var(--Gap-2x);
        max-width: 100%;
    }

    &__top {
        margin-bottom: auto;
    }

    &__title {
        display: block;
        color: var(--ColorsBlack);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        transition: var(--transition-base);
    }

    &:hover {
        .news-promo-card__title {
            color: var(--ColorsBlue);
        }
    }

    &__date {
        display: block;
        color: rgba(142, 149, 155, 0.6);
    }

    &__title,
    &__date {
        margin-left: 22px;
        margin-right: 25px;
    }

    @include media(xl) {
        &__title {
            font-size: 20px;
        }
    }

    @include media(lg) {
        &__title {
            font-size: 18px;
        }

        &__title,
        &__date {
            margin-left: 16px;
            margin-right: 16px;
        }

        &__date {
            font-size: 14px;
        }
    }

    @include media(md) {
        &__title {
            font-size: 15px;
        }

        &__title,
        &__date {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}

.form-callback {
    margin-top: 100px;

    &__title {
        color: var(--ColorsBlack);
        font-family: $font-inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__form {
        align-items: flex-start;
        width: 960px;
        padding: 32px 44px 40px 44px;
        display: flex;
        flex-direction: column;
        gap: var(--Gap-3x);
    }

    @include media(xl) {
        margin-top: 80px;

        &__form {
            width: 100%;
            padding: 0;
        }
    }

    @include media(lg) {

    }

    @include media(md) {
        margin-top: 40px;

        &__title {
            font-size: 26px;
        }

        .btn {
            width: 100%;
        }
    }
}

.nav-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--Gap-5x);

    &__item {
        display: flex;
        height: 56px;
        padding: 8px 28px 10px 24px;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        background: none;
        transition: background 0.3s;
        color: var(--ColorsGray13);
        font-family: $font-inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        border: 1px solid #EEE;

        & + .nav-tabs__item {
            border-left: 0;
        }

        &:first-child {
            border-radius: 12px 0 0 12px;
        }

        &:last-child {
            border-radius: 0 12px 12px 0;
        }

        &.is-active {
            color: var(--ColorsBlack3);

            border-top: 2px solid var(--ColorsGray4);
            border-left: 2px solid var(--ColorsGray4);
            background: var(--ColorsGray10);
        }
    }

    @include media(xl) {
        &__item {
            height: 48px;
            padding: 6px 24px;
            font-size: 16px;
        }
    }

    @include media(md) {
        &__item {
            justify-content: center;
            width: 100%;
            height: 48px;
            padding: 6px 12px;
            font-size: 14px;
        }
    }
}

.tab-content {
    display: none;

    &.is-active {
        display: block;
    }
}

.body-is-hidden {
    overflow-y: hidden;
}