@use '../abstracts/variables' as *;
@use '../components/media' as *;

html, body {
    scrollbar-width: thin;
    overflow-x: hidden;
}

body {
    font-family: $font-inter;
    color: var(--ColorsBlack);
    font-weight: 400;
    line-height: 150%;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1404px;
    width: 100%;
}

.svg-icon {
    display: inline-flex;
    mask-repeat: no-repeat;
}

.svg-search {
    height: 32px;
    width: 32px;
    mask-image: url('/images/icons/search-icon.svg');
    background-color: #EDEDED;
}

.btn {
    font-family: $font-inter;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    &-primary {
        color: var(--ColorsWhite);
        background-color: var(--ColorsBlue);
    }

    &-outline-secondary {
        color: var(--ColorsBlack);
        font-weight: 400;
        padding: 15px 24px;
        border: 2px solid var(--ColorsBlack);
    }

    &.btn-m {
        font-size: 20px;
        font-weight: 600;
    }

    &:disabled {
        border: 0;
        color: var(--ColorsGray2);
        background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #0074EC;
    }

}

.main-slider {
    margin-top: 46px;

    &__item {
        border-radius: 40px;
    }

    &__img {
        border-radius: 40px;
    }
}

.news-promo {

    &__row {
        display: flex;
        gap: var(--Gap-1x);
    }
}

.news-promo-card {
    display: grid;
    gap: var(--Gap-2x);
    padding-bottom: 87px;

    &__title {
        display: block;
        color: var(--ColorsBlack);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__date {
        display: block;
        color: rgba(142, 149, 155, 0.6);
    }

    &__title,
    &__date {
        margin-left: 22px;
        margin-right: 25px;
    }
}

.form-callback {
    margin-top: 150px;

    &__title {
        color: var(--ColorsBlack);
        font-family: $font-inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__form {
        align-items: flex-start;
        width: 960px;
        padding: 32px 44px 40px 44px;
        display: flex;
        flex-direction: column;
        gap: var(--Gap-3x);
    }

    &__input {
        color: var(--ColorsBlack);
        border: 0;
        font-family: $font-inter;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -5px;
        width: 100%;

        &::placeholder {
            color: var(--ColorsGray3);
        }
    }
}
