@use '../abstracts/variables' as *;
@use '../components/media' as *;

html, body {
    scrollbar-width: thin;
    //overflow-x: hidden;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-inter;
    color: var(--ColorsBlack);
    font-weight: 400;
    line-height: 150%;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1404px;
    width: 100%;
}

.main-inner {
    margin-top: 56px;
}

.svg-icon {
    display: inline-flex;
    mask-repeat: no-repeat;
}

.svg-search {
    height: 32px;
    width: 32px;
    mask-image: url('../../images/icons/search-icon.svg');
    background-color: #EDEDED;
}

.svg-close-menu {
    height: 24px;
    width: 24px;
    mask-image: url('../../images/icons/close-btn.svg');
    background-color: var(--ColorsBlack);
}

.btn {
    font-family: $font-inter;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    height: 52px;

    &-primary {
        color: var(--ColorsWhite);
        background-color: var(--ColorsBlue);
    }

    &-secondary {
        color: #ffffff;
        background: var(--ColorsBlack);
    }

    &-outline-secondary {
        color: var(--ColorsBlack);
        font-weight: 400;
        padding: 15px 24px;
        box-shadow: inset 0 0 0 2px var(--ColorsBlack);
    }

    &.btn-m {
        font-size: 20px;
        font-weight: 600;
    }

    &:disabled {
        border: 0;
        color: var(--ColorsGray2);
        background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #0074EC;
    }

}

.breadcrumb {
    margin-bottom: 20px;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 5px 0 6px 0;
    }
    &__item {
        position: relative;
        color: var(--ColorsBlack);
        font-size: 15px;
        font-weight: 400;
        line-height: 120%;

        & + li:before {
            border-radius: 100px;
            content: "";
            display: inline-block;
            height: 10px;
            width: 6px;
            left: -13px;
            position: absolute;
            background: url('../../images/icons/arrow-right.svg') no-repeat;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: middle;
        }
    }
    &__link {
        color: var(--ColorsBlack)
    }
    &__text {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.badge {
    display: inline-flex;
    padding: 5px 10px 6px 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 18px */
    border-radius: 6px;

    &-gray {
        color: #10C44C;
        background: rgba(16, 196, 76, 0.10);
    }
}

.main-slider {
    margin-top: 46px;
    margin-bottom: 140px;

    &.swiper {
        width: 100%;
        overflow: visible;
    }
    &.swiper-horizontal {
        & > .swiper-pagination-bullets {
            bottom: -70px;

            .swiper-pagination-bullet {
                margin: 0 6px;
            }
        }
        .swiper-pagination-bullet {
            width: 22px;
            height: 22px;
            opacity: 1;
            background-color: var(--ColorsGray7);

            &.swiper-pagination-bullet-active {

                background-color: var(--ColorsBlue2);
            }
        }
    }

    &__item {
        border-radius: 40px;

        &--is-white {
            border: 2px solid rgba(228, 228, 228, 0.60);
            padding: 60px 45px 40px 72px;

            .main-slider__title {
                position: relative;
                color: var(--ColorsBlack);
            }
        }
        &--is-text {
            .main-slider__title {
                position: absolute;
                top: 60px;
                left: 72px;
            }
        }
        &.swiper-slide {
            height: auto;
            //width: 20%;
            transition: transform 0.3s ease;

            &:not(.swiper-slide-active) {
                transform: scale(0.8);
            }
        }
        &.swiper-slide-active {
            width: 100%;
            transform: scale(1);
        }

    }
    &__title {
        color: white;
        font-size: 88px;
        font-style: normal;
        font-weight: 600;
        line-height: 90%;
        letter-spacing: -0.88px;
        margin-bottom: 45px;
    }
    &__text {
        color: var(--ColorsBlack);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        max-width: 60%;
    }
    &__img {
        border-radius: 40px;
    }
    &__btn {
        position: absolute;
        bottom: 40px;
        right: 45px;
    }
}

.news-promo {

    &__row {
        display: flex;
        gap: var(--Gap-1x);
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
    }
    &__title {
        margin-bottom: 0;
    }
    &__link {
        color: var(--ColorsBlue);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.news-promo-card {
    display: grid;
    gap: var(--Gap-2x);
    padding-bottom: 87px;

    &__title {
        display: block;
        color: var(--ColorsBlack);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__date {
        display: block;
        color: rgba(142, 149, 155, 0.6);
    }

    &__title,
    &__date {
        margin-left: 22px;
        margin-right: 25px;
    }
}

.form-callback {
    margin-top: 150px;

    &__title {
        color: var(--ColorsBlack);
        font-family: $font-inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    &__form {
        align-items: flex-start;
        width: 960px;
        padding: 32px 44px 40px 44px;
        display: flex;
        flex-direction: column;
        gap: var(--Gap-3x);
    }

    &__input {
        color: var(--ColorsBlack);
        border: 0;
        font-family: $font-inter;
        font-size: 96px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -5px;
        width: 100%;

        &::placeholder {
            color: var(--ColorsGray3);
        }
    }
}
