@use '../abstracts/variables' as *;
@use '../components/media' as *;


.main-catalog {
    margin-top: 16px;
}
.catalog {

    &__head {
        display: flex;
        flex-wrap: wrap;
        gap: var(--Gap-1x);
        margin-bottom: 56px;
    }
    &__count {
        color: #B9BBBD;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        padding-top: 10px;
    }
}

.catalog-section {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: var(--Gap-5x) var(--Gap-4x);

    &__top {
        display: flex;
        flex-direction: column;
        gap: var(--Gap-2x);
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 12px;
    }

    &__img {
        flex-shrink: 0;
        border-radius: 8px;
        align-self: flex-start;
    }

    &__item {
        padding-right: var(--Gap-3x);
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    &__link {
        color: var(--ColorsGray5);
    }

    &__show-more {
        color: var(--ColorsBlue);
    }

    @include media(xl) {
        &__img {
            max-width: 56px;
        }
    }

    @include media(lg) {
        &__top {
            font-size: 18px;
        }

        &__item {
            padding-right: 0;
        }

        &__items {
            font-size: 15px;
        }

        &__img {
            max-width: 48px;
        }
    }

    @include media(md) {
        grid-template: auto / repeat(1, 1fr);
    }
}

.catalog__subsection {
    display: flex;
    gap: 8px;
    margin-bottom: 56px;

    &-item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &-title {
        color: var(--ColorsBlack);
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
    }
}

.catalog-filter {
    display: grid;
    grid-template: auto / 200px 1fr;
    gap: 64px;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__title {
        margin-bottom: 10px;
        color: var(--ColorsGray6);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }
    .form-check {
        display: block;
        margin-bottom: 10px;
    }

    &__param {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 24px;

        &-item {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--ColorsBlack);
            font-family: $font-inter;
            font-size: 15px;
            font-weight: 500;
            line-height: 130%;
            border-radius: 6px;
            background: #F6F5F6;
            padding: 8px 8px 8px 12px;
            height: 32px;

            .svg-icon {
                cursor: pointer;
            }
        }

        &-reset {
            display: flex;
            align-items: center;
            gap: 2px;
            color: var(--ColorsBlue);
            font-family: $font-inter;
            font-size: 15px;
            font-weight: 500;
            line-height: 130%;
            border-radius: 6px;
            padding: 5px 10px 6px 10px;
            height: 32px;
            cursor: pointer;

            &:before {
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%3E%3Cpath%20d='M7%2021C6.45%2021%205.97917%2020.8042%205.5875%2020.4125C5.19583%2020.0208%205%2019.55%205%2019V6H4V4H9V3H15V4H20V6H19V19C19%2019.55%2018.8042%2020.0208%2018.4125%2020.4125C18.0208%2020.8042%2017.55%2021%2017%2021H7ZM17%206H7V19H17V6ZM9%2017H11V8H9V17ZM13%2017H15V8H13V17Z' fill='%230074EC'/%3E%3C/svg%3E");
            }
        }
    }
}

.filter-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &__input {
        display: none;

        &:checked + label {
            &:before {
                border: 2px solid #0074EC;
            }
        }
    }
    &__label {
        position: relative;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 6px;
        border: 2px solid transparent;
        padding: 4px;
        cursor: pointer;

        &:before {
            position: absolute;
            top: -6px;
            left: -6px;
            content: "";
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 10px;
            border: 2px solid transparent;
        }

        &:hover:before {
            border-color: rgba(0, 116, 236, 0.50);
        }
    }
}

.filter-cat {

    &__link {
        padding: 8px 0;
        display: inline-block;
        color: var(--ColorsBlack2);
        font-family: $font-inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
        border-radius: 6px;
        width: 100%;

        &.is-active {
            padding: 8px 12px;
            background: var(--ColorsGray12);
        }
    }
    &__items {
        .filter-cat__link {
            padding-left: 28px;
        }
    }
}

.catalog-desc {
    max-width: 920px;
}

.catalog-link-back {
    display: inline-flex;
    align-items: center;
    margin-bottom: 11px;
    gap: 8px;
    padding: 5px 0 6px 0;
    color: var(--ColorsBlack);
    font-family: $font-inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;

    &:before {
        content: '';
        display: block;
        width: 9px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='7'%20height='10'%20viewBox='0%200%207%2010'%20fill='none'%3E%3Cpath%20d='M5.38323%209.88315L6.25%209.01638L2.23355%204.99993L6.25%200.983472L5.38323%200.116699L0.5%204.99993L5.38323%209.88315Z'%20fill='black'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
    }
}

.catalog-tags {

    &__title {
        color: var(--ColorsBlack);
        font-family: $font-inter;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    &__rows {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-block;
        border-radius: 38px;
        background: var(--ColorsGray12);
        padding: 6px 12px;
        color: var(--ColorsBlack);
        font-family: $font-inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
    }
}

.catalog-list {
    display: grid;
    gap: 56px var(--Gap-2x);
    grid-template: auto / repeat(4, 1fr);
    font-family: $font-inter;
    margin-bottom: 56px;

    &__item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__img {
        border-radius: 20px;
    }

    &__wrap {
        padding: 0 4px;
    }

    &__status {
        display: block;
        color: var(--ColorsGreen);
        font-size: 13px;
        font-weight: 500;
        line-height: 120%;
        margin: 8px 0;
    }

    &__title {
        display: block;
        color: var(--ColorsBlack);
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 12px;
    }

    &__price {
        color: var(--ColorsBlack);
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.66px;
    }

    &__desc {
        display: block;
        color: rgba(142, 149, 155, 0.80);
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.45px;
    }
}

.catalog-detail {

    &__row {
        display: grid;
        grid-template: auto / 1fr 320px;
        gap: var(--Gap-4x);
        align-items: flex-start;
    }
    &__top {
        display: grid;
        grid-template: auto / minmax(300px, 560px) 440px;
        margin-bottom: 64px;
        justify-content: space-between;
        gap: var(--Gap-4x);
    }
    &__title {
        color: var(--ColorsBlack);
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0;
        margin-bottom: 28px;
    }
    &__info {

    }
    &__spec {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &-name {
            color: var(--ColorsGray1);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-right: 16px;
            flex-shrink: 0;
        }
        &-value {
            border-radius: 6px;
            padding: 10px;
            border: 1px dashed #D1D1D6;
            color: var(--ColorsBlack);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -1px;
            width: 100%;
            transition: var(--transition-base);

            &:hover {
                border: 1px solid #D0D1D1;
            }

            &.is-active {
                border-top: 2px solid #D0D1D1;
                border-left: 2px solid #D0D1D1;
                border-bottom: 2px solid #EDEDED;
                border-right: 2px solid #EDEDED;
                background: #EDEDED;
            }
        }
        .form-group {
            margin-left: 18px;
            width: 100%;
            margin-bottom: 0;
        }
    }
    &__actions {
        position: sticky;
        top: 115px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Gap-2x);
    }
    &__price {
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.2px;
    }
    &__price-desc {
        padding: 20px 20px 24px 20px;
        border-radius: 12px;
        background: #F5F5F5;
        color: var(--ColorsGray1);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    &__cert-logo {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 28px;
    }
    &__country {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--ColorsBlack);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__parameters {
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 16px;

        &-item {
            height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #E0E0E0;
        }
        &-name {
            color: var(--ColorsGray1);
            font-size: 18px;
        }
        &__val {
            color: var(--ColorsBlack);
            font-size: 18px;
        }
    }
    &__colors {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 20px;
        margin-bottom: 28px;

        &-name {
            color: var(--ColorsGray1);
            font-size: 18px;
            padding-right: 16px;
        }
        &-item {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            border: 4px solid white;
            position: relative;

            &.is-active:after {
                position: absolute;
                top: -6px;
                left: -6px;
                content: '';
                width: 40px;
                height: 40px;
                display: block;
                border: 2px solid #000;
                border-radius: 100px;
            }
        }
    }
    &__cert {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-item {
            border-radius: 24px;
            border: 1px solid rgba(224, 224, 224, 0.60);
            min-height: 93px;
            padding: 24px 40px 24px 32px;
        }
        &-name {
            display: flex;
            color: var(--ColorsBlack);
            font-size: 22px;
            line-height: 130%;
            margin-bottom: 24px;
        }
        &-pdf {
            color: var(--ColorsRed);
            font-size: 15px;
            line-height: 120%;

            &:before {
                content: '';
                display: inline-block;
                background: url('../../images/icons/pdf-icon.svg') no-repeat;
                width: 24px;
                height: 24px;
                vertical-align: bottom;
                margin-right: 4px;
            }
        }
    }
    &__sect {
        margin-bottom: 64px;

        img {
            border-radius: 12px;
        }
        &-title {
            color: var(--ColorsBlack);
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &-text {
            color: var(--ColorsBlack);
            font-family: $font-inter;
            font-size: 22px;
            line-height: 150%;
        }
    }
    &__content {
        margin-right: 160px;
    }

    @include media(xl) {
        &__row {
            grid-template: auto / 1fr 300px;
        }
        &__top {
            grid-template: auto / minmax(300px, 560px) minmax(360px, 440px);
        }
        &__title {
            font-size: 24px;
        }
        &__sect-text {
            font-size: 18px;
        }
        &__spec-value {
            font-size: 18px;
        }
        &__price {
            font-size: 32px;
        }
    }
    @include media(md) {
        &__title {
            font-size: 18px;
        }
    }
}
.catalog-gallery {
    //height: 80%;
    //width: 100%;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 32px;
    }
}
.catalog-gallery-thumbs {
    margin-top: 12px;
    overflow: hidden;
    cursor: pointer;
    //height: 20%;

    .swiper-slide {
        width: 60px !important;
        height: 60px;
        padding: 3px;
        border: 2px solid transparent;

        &:before {
            position: absolute;
            inset: 0;
            content: "";
            opacity: 0.4;
            background: linear-gradient(0deg, #F6F5F6 0%, #F6F5F6 100%);
            display: block;
            height: 100%;
            width: 100%;
        }

        &.swiper-slide-thumb-active {
            border-color: var(--ColorsBlack);
            border-radius: 8px;

            &:before {
                display: none;
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }
}
