@use '../abstracts/variables' as *;
@use '../components/media' as *;


.main-catalog {
    margin-top: 16px;
}
.catalog {

    &__head {
        display: flex;
        gap: var(--Gap-1x);
        margin-bottom: 48px;
    }
    &__count {
        color: #B9BBBD;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        padding-top: 10px;
    }
}

.catalog-list {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 56px var(--Gap-2x);

    &__section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: var(--ColorsBlack);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 12px;
    }

    &__img {
        flex-shrink: 0;
        border-radius: 8px;
        align-self: flex-start;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        li:nth-child(n+4):not(.catalog-list__item-show-more) {
            //display: none;
        }
    }
    &__link {
        color: var(--ColorsGray5);
    }
    &__show-more {
        color: var(--ColorsBlue);
    }
}

.catalog-section {
    display: flex;
    gap: 8px;
    margin-bottom: 56px;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__title {
        color: var(--ColorsBlack);
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
    }
}

.catalog-filter {
    display: grid;
    grid-template: auto / 200px 1fr;
    gap: 64px;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__title {
        margin-bottom: 10px;
        color: var(--ColorsGray6);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }
    .form-check {
        display: block;
        margin-bottom: 10px;
    }
}

.filter-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    &__input {
        display: none;
    }
    &__label {
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 8px;
        border: 1px solid var(--ColorsGray9);
    }
}

.filter-cat {

    &__link {
        padding: 8px 0;
        display: inline-block;
        color: var(--ColorsBlack2);
        font-family: $font-inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
        border-radius: 6px;
        width: 100%;

        &.is-active {
            padding: 8px 12px;
            background: var(--ColorsGray12);
        }
    }
    &__items {
        .filter-cat__link {
            padding-left: 28px;
        }
    }
}

.catalog-desc {
    max-width: 920px;
}

.catalog-link-back {
    display: inline-flex;
    align-items: center;
    margin-bottom: 11px;
    gap: 8px;
    padding: 5px 0 6px 0;
    color: var(--ColorsBlack);
    font-family: $font-inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;

    &:before {
        content: '';
        display: block;
        width: 9px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='7'%20height='10'%20viewBox='0%200%207%2010'%20fill='none'%3E%3Cpath%20d='M5.38323%209.88315L6.25%209.01638L2.23355%204.99993L6.25%200.983472L5.38323%200.116699L0.5%204.99993L5.38323%209.88315Z'%20fill='black'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
    }
}

.catalog-tags {

    &__title {
        color: var(--ColorsBlack);
        font-family: $font-inter;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    &__rows {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__item {
        display: inline-block;
        border-radius: 38px;
        background: var(--ColorsGray12);
        padding: 6px 12px;
        color: var(--ColorsBlack);
        font-family: $font-inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
    }
}

.catalog-list {
    font-family: $font-inter;
    margin-bottom: 56px;

    &__item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__img {
        border-radius: 20px;
    }

    &__wrap {
        padding: 0 4px;
    }

    &__status {
        display: block;
        color: var(--ColorsGreen);
        font-size: 13px;
        font-weight: 500;
        line-height: 120%;
        margin: 8px 0;
    }

    &__title {
        display: block;
        color: var(--ColorsBlack);
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 12px;
    }

    &__price {
        color: var(--ColorsBlack);
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.66px;
    }

    &__desc {
        display: block;
        color: rgba(142, 149, 155, 0.80);
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.45px;
    }
}

.catalog-detail {

    &__row {
        display: grid;
        grid-template: auto / 1fr 320px;
        gap: 40px;
        align-items: flex-start;
    }
    &__top {
        display: grid;
        grid-template: auto / 560px 440px;
        margin-bottom: 64px;
        justify-content: space-between;
    }
    &__title {
        color: var(--ColorsBlack);
        font-size: 32px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0;
        margin-bottom: 0;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
    &__spec {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &-name {
            color: var(--ColorsGray1);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-right: 16px;
            flex-shrink: 0;
        }
        &-value {
            border-radius: 6px;
            padding: 10px;
            border: 1px dashed #D1D1D6;
            color: var(--ColorsBlack);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -1px;
            width: 100%;

            &.is-active {
                border-top: 2px solid #D0D1D1;
                border-left: 2px solid #D0D1D1;
                background: #EDEDED;
            }
        }
        .form-group {
            margin-left: 18px;
            width: 100%;
            margin-bottom: 0;
        }
    }
    &__actions {
        position: sticky;
        top: 115px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    &__price {
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.2px;
    }
    &__price-desc {
        padding: 20px 20px 24px 20px;
        border-radius: 12px;
        background: #F5F5F5;
        color: var(--ColorsGray1);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    &__cert-logo {
        display: flex;
        gap: 12px;
        align-items: center;
    }
    &__country {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--ColorsBlack);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__parameters {
        border-bottom: 1px solid #E0E0E0;

        &-item {
            height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #E0E0E0;
        }
        &-name {
            color: var(--ColorsGray1);
            font-size: 18px;
        }
        &__val {
            color: var(--ColorsBlack);
            font-size: 18px;
        }
    }
    &__colors {
        display: flex;
        align-items: center;
        gap: 16px;

        &-name {
            color: var(--ColorsGray1);
            font-size: 18px;
            padding-right: 16px;
        }
        &-item {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            border: 4px solid white;
            position: relative;

            &.is-active:after {
                position: absolute;
                top: -6px;
                left: -6px;
                content: '';
                width: 40px;
                height: 40px;
                display: block;
                border: 2px solid #000;
                border-radius: 100px;
            }
        }
    }
    &__cert {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-item {
            border-radius: 24px;
            border: 1px solid rgba(224, 224, 224, 0.60);
            min-height: 93px;
            padding: 24px 40px 24px 32px;
        }
        &-name {
            display: flex;
            color: var(--ColorsBlack);
            font-size: 22px;
            line-height: 130%;
            margin-bottom: 24px;
        }
        &-pdf {
            color: var(--ColorsRed);
            font-size: 15px;
            line-height: 120%;

            &:before {
                content: '';
                display: inline-block;
                background: url('../../images/icons/pdf-icon.svg') no-repeat;
                width: 24px;
                height: 24px;
                vertical-align: bottom;
                margin-right: 4px;
            }
        }
    }
    &__sect {
        margin-bottom: 64px;

        &-title {
            color: var(--ColorsBlack);
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    &__content {
        margin-right: 160px;
    }
}
.catalog-gallery {
    height: 80%;
    width: 100%;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.catalog-gallery-thumbs {
    height: 20%;
    .swiper-slide {
        width: 60px;
        height: 60px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
