:root {
    --ColorsGray1: #8E959B;
    --ColorsWhite: #ffffff;
    --ColorsBlack: #000000;
    --ColorsBlue:  #0074EC;

    --Gap-1x: 12px;
    --Gap-2x: 16px;
    --transition-base: all 0.3s ease-out;
}

$font-family:       'Inter', sans-serif;
