@use '../components/media' as *;

:root {
    --fontInter: 'Inter', sans-serif;
    --fontInterDisplay: 'InterDisplay', sans-serif;

    --ColorsGray1: #8E959B;
    --ColorsGray2: #CFCFCF;
    --ColorsGray3: #E4E4E4;
    --ColorsGray4: #D0D1D1;
    --ColorsGray5: #323232;
    --ColorsGray6: #1C1C1E;
    --ColorsGray7: #F2F3F5;
    --ColorsGray8: #F5F5F5;
    --ColorsGray9: #D1D1D6;
    --ColorsGray10: #EDEDED;
    --ColorsGray11: #D2D6D6;
    --ColorsGray12: #F6F5F6;
    --ColorsGray13: #5F6368;
    --ColorsWhite: #ffffff;
    --ColorsBlack: #000000;
    --ColorsBlack2: #1C1C1E;
    --ColorsBlack3: #3A3B3B;
    --ColorsBlue:  #0074EC;
    --ColorsBlue2: #007AFF;
    --ColorsRed:   #FF292C;
    --ColorsGreen:   #10C44C;

    --Gap-1x: 12px;
    --Gap-2x: 16px;
    --Gap-3x: 24px;
    --Gap-4x: 40px;
    --Gap-5x: 56px;
    --Gap-6x: 64px;
    --transition-base: all 0.3s ease-out;

    @include media(xl) {
        --Gap-1x: 10px;
        --Gap-2x: 14px;
        --Gap-3x: 20px;
        --Gap-4x: 32px;
        --Gap-5x: 48px;
        --Gap-6x: 56px;
    }

    @include media(lg) {
        --Gap-1x: 8px;
        --Gap-2x: 12px;
        --Gap-3x: 18px;
        --Gap-4x: 24px;
        --Gap-5x: 40px;
        --Gap-6x: 48px;
    }

    @include media(md) {
        --Gap-1x: 6px;
        --Gap-2x: 8px;
        --Gap-3x: 12px;
        --Gap-4x: 16px;
        --Gap-5x: 24px;
        --Gap-6x: 32px;
    }
}

$font-inter: var(--fontInter), sans-serif;
$font-interDisplay: var(--fontInterDisplay), sans-serif;
